
.txst-wrapper-no-sidebar > .txst-sidebar-container {
  display: none;
}

.txst-wrapper-no-footer > .txst-footer-container {
  display: none;
}

.txst-header-container {
  grid-area: header;
}

.txst-sidebar-container {
  grid-area: sidebar;
}

.txst-content-container {
  grid-area: content;
  overflow: auto;
}

.txst-footer-container {
  grid-area: footer;
}
