.tomato-primary.txst-button.primary {
  background-color: papayawhip;
  border-color: tomato;
}

.tomato-primary:focus {
  box-shadow: 0px 0px 10px -2px tomato;
  outline: none;
}

.white-label.txst-button.primary {
  color: tomato;
}
